.DS_Store
.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Python
*.pyc
*.pyo
__pycache__/
**/.venv/
venv/
*.egg-info/

# Editors
.obsidian/
